body {
    margin: 20px auto;
    max-width: 700px;
    line-height: 1.4;
    font-size: 18px;
    color: #444;
    padding: 0 20px;
}

h1,
h2,
h3 {
    line-height: 1
}

img {
    max-width: 100%;
    margin: auto;
    display: block;
}

#profile-image {
    width: 500px;
}

#links {
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.link-item {
    list-style-type: none;
}